<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
    

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Angular Multicomplete by Artturi Sipilä</title>
  </head>

  <body ng-app="testapp">
    <header>
      <div class="inner">
        <h1>Angular Multicomplete</h1>
        <h2>A simple Angular autocomplete directive </h2>
        <a href="https://github.com/ArtturiSipila/AngularMultiComplete" class="button"><small>View project on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h1>
<a id="autocomplete" class="anchor" href="#autocomplete" aria-hidden="true"><span class="octicon octicon-link"></span></a>AutoComplete</h1>

<p>Angular multicomplete</p>


<div class="row fullWidth">
    <div class="medium-12 columns" ng-controller="TestController" style="margin-top: 15px;">

        <BR/>
        <h2>Feature highlights</h2>
        <!--<h2>Overview</h2>-->
        <ul>
          <li>Dynamic browse button makes the autocomplete feel like a standard html select component which is much more suitable when there are only a few items
          </li>
        </ul>
        <BR/>
        <BR/>

<!--
        <strong>TODO</strong>: select input kenttään suoraan, tai tohon mitä kirjoitetaan, pitää tehdä selväksi kun match on tehty! <BR/>
        <strong>TODO</strong>: hyvä sekoitus selectin ja autocompleten välillä, esim. toinen klikkaus inputtiin voisi avata browsen? eli tätä input muuttuu automaattisesti selectiksi jos kenttiä on vain n-määrä<BR/>
        <strong>TODO</strong>: ng-animate <BR/>
        <strong>TODO</strong>: check if item already exists in the selection <BR/>
        -->
        <div class="row">
            <div class="medium-12 columns">
                <h2>Colors</h2>

                <ul style="list-style: none;">
                    <li ng-repeat="color in colors">{{color | json}}</li>
                </ul>
            </div>
            <div class="medium-12 columns">
                <h2>Colors in a flat array</h2>

                <ul style="list-style: none;">
                    <li ng-repeat="color in colors_flat">{{color | json}}</li>
                </ul>
            </div>
            <div class="medium-12 columns">
                <h2>Animals</h2>

                <ul style="list-style: none;">
                    <li ng-repeat="animal in animals">{{animal | json}}</li>
                </ul>
            </div>
        </div>
        <br/>
        <!--
        TODO: lisää ne parametrit jotka vaikuttavat, esim.  'multi-select=true' (esim. code blockkiin)
        -->
        <h2>Examples</h2>
        <br/>
        <h3>1. Basic autocompletion:</h3>
        <autocomplete id="autocomplete"  selectedobject="selectedItem" dataSource="colors" searchFields="['color']" titlefield="color" placeholder="Search colors" ></autocomplete>
        <div class="result">
            <div ng-show="selectedItem" ng-style="{ 'background': selectedItem.originalObject.value}">
                You selected <span class="bold">{{selectedItem.originalObject.color}}</span>
            </div>
        </div>
        <BR/>

        <h3>2. Clear the search field on selection</h3>
        <autocomplete id="autocomplete" ng-model="selectedItem" selectedobject="selectedItem2" dataSource="colors" searchFields="['color']" titlefield="color" placeholder="Search colors" clear-on-selection="true" ></autocomplete>
        <div class="result">
            <div ng-show="selectedItem2" ng-style="{ 'background': selectedItem2.originalObject.value}">
                You selected <span class="bold">{{selectedItem2.originalObject.color}}</span>
            </div>
        </div>

        <!--
        <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">p</span>&gt;</span>For example, to close your browser hit <span class="tag">&lt;<span class="title">kbd</span>&gt;</span>Cmd<span class="tag">&lt;/<span class="title">kbd</span>&gt;</span> + <span class="tag">&lt;<span class="title">kbd</span>&gt;</span>Q<span class="tag">&lt;/<span class="title">kbd</span>&gt;</span><span class="tag">&lt;/<span class="title">p</span>&gt;</span></div></code></pre>
        -->
        <BR/>

        <h3>3. Model as a callback function</h3>
        <autocomplete id="autocomplete" ng-model="selectedItem" selectedobject="onAutoCompleteSelection" dataSource="colors" searchFields="['color']" titlefield="color" placeholder="Search colors" clear-on-selection="true" ></autocomplete>
        <div class="result">
            <div ng-show="selectedItemFromCallBack" ng-style="{ 'background': selectedItemFromCallBack.originalObject.value}">
                You selected <span class="bold">{{selectedItemFromCallBack.originalObject.color}}</span>
            </div>
        </div>
        <BR/>

        <h3>4. A Separate callback function</h3>
        <!-- with &
        <autocomplete id="autocomplete" ng-model="selectedItem" selectedobject="selectedItem4" on-selection="example4Callback(item, additional)" additional-callback-params="[{test: 'this'}]" dataSource="colors" searchFields="['color']" titlefield="color" placeholder="Search colors" clear-on-selection="true" ></autocomplete>-->
        <autocomplete id="autocomplete" ng-model="selectedItem" selectedobject="selectedItem4" on-selection="example4Callback" additional-callback-params="[{test: 'this'}]" dataSource="colors" searchFields="['color']" titlefield="color" placeholder="Search colors" clear-on-selection="true" ></autocomplete>
        <div class="result">
            <div ng-show="selectedItemFromCallBack" ng-style="{ 'background': selectedItem4.originalObject.value}">
                You selected <span class="bold">{{selectedItem4.originalObject.color}}</span>
            </div>
        </div>
        <BR/>

        <h3>5. Multiselect:</h3>
        todo: allow select same value many times?<br/>
        todo: all the possible values already selected<br/>
        todo: select all<br/>
        <autocomplete id="autocomplete"  selectedobject="selectedItems5" multi-select="true" remove-selected="true" dataSource="colors" searchFields="['color']" titlefield="color" placeholder="Search colors"   ></autocomplete> <!-- clear-on-selection="true" -->
        <div class="result">

            <span ng-repeat="item5 in selectedItems5" ng-show="selectedItems5">
                <span class="selectionPill" ng-style="{ 'background': item5.originalObject.value}">
                    <span class="pillOverlay">
                    {{item5.originalObject.color}}
                        <span style="cursor: pointer; float: right; margin-left: 10px; margin-right: 10px;" ng-click="selectedItems5.splice($index, 1)">x</span>
                    </span>
                </span>
            </span>
        </div>
        <BR/>

        <h3>6. Browse values:</h3>
        <!--<input ng-model="browseLimit"> Browse display limit-->
        <input ng-model="example6_showBrowse"  type="checkbox"  size="2"> Show browse button
        <autocomplete id="autocomplete"  selectedobject="selectedItem6" dataSource="colors" searchFields="['color']" titlefield="color" placeholder="Search colors" show-browse-button="example6_showBrowse"></autocomplete>
        <div class="result">
            <div ng-show="selectedItem6" ng-style="{ 'background': selectedItem6.originalObject.value}">
                You selected <span class="bold">{{selectedItem6.originalObject.color}}</span>
            </div>
        </div>
        <BR/>

        <h3>7.  Dynamic browse <h6>(display the browse button if number of items in dataSource is less than browseLimit)</h6> </h3>
        <button class="button small autocomplete-browse" ng-click="example7_useColorData()">Use color data</button>
        <button class="button small autocomplete-browse" ng-click="example7_useAnimalData()">Use animal data</button>
        <BR/>
        <input ng-model="example7_browseLimit" size="2"> Browse display limit
        
        <autocomplete id="autocomplete"  selectedobject="selectedItem7" dataSource="example7_dataSource" browse-limit="{{example7_browseLimit}}" data-length="example7_dataLength" searchFields="example7_searchfields" titlefield="{{example7_titlefield}}" placeholder="{{example7_placeholder}}" dynamic-browse-button="true"></autocomplete>
        <div class="result">
            <div ng-show="selectedItem7" ng-style="{ 'background': selectedItem7.originalObject.value}">
                You selected <span class="bold">{{selectedItem.originalObject7.color}}</span>
            </div>
        </div>
        <BR/>

        <h3>7.5  Dynamic remote browse <h6>(display the browse button if number of items in dataSource is less than browseLimit)</h6> </h3>
        <button class="button small autocomplete-browse" ng-click="example7_useColorData()">Use color data</button>
        <button class="button small autocomplete-browse" ng-click="example7_useAnimalData()">Use animal data</button>
        <BR/>
        <input ng-model="example75_browseLimit" size="2"> Browse display limit

        <autocomplete id="autocomplete"  selectedobject="selectedItem7" dataSource="example7_dataSource" browse-limit="{{example75_browseLimit}}" data-length="example7_dataLength" searchFields="example75_searchfields" titlefield="{{example75_titlefield}}" placeholder="{{example75_placeholder}}" dynamic-browse-button="true"></autocomplete>
        <div class="result">
            <div ng-show="selectedItem75" ng-style="{ 'background': selectedItem75.originalObject.value}">
                You selected <span class="bold">{{selectedItem.originalObject75.color}}</span>
            </div>
        </div>
        <BR/>

        <h3>8. Disabled state </h3>
        <!--<input ng-model="browseLimit"> Browse display limit-->

        <input id="example8checkbox" type="checkbox" ng-model="example8_disabled" name="disabled"> <label for="example8checkbox">disabled</label>
        <autocomplete selectedobject="selectedItem8" dataSource="colors" disabled="example8_disabled" searchFields="['color']" titlefield="color" placeholder="Search colors"></autocomplete>
        <div class="result">
            <div ng-show="selectedItem8" ng-style="{ 'background': selectedItem8.originalObject.value}">
                You selected <span class="bold">{{selectedItem.originalObject8.color}}</span>
            </div>
        </div>
        <BR/>

        <h3>9. Custom template</h3>
        <script type="text/ng-template" id="some-template.html">
            <div>this is my template which is not really working</div>
        </script>

        <autocomplete template-url="some-template.html"  selectedobject="selectedItem9" dataSource="colors" searchFields="['color']" titlefield="color" placeholder="Search colors" ></autocomplete>
        <div class="result">
            <div ng-show="selectedItem9" ng-style="{ 'background': selectedItem9.originalObject.value}">
                You selected <span class="bold">{{selectedItem9.originalObject.color}}</span>
            </div>
        </div>
        <BR/>
        <BR/>

        <h3>TODO 10. </h3>
        event handling for better "external" control emit/broadcast etc. "go", "clearYourself", "browse" with id or all
        <BR/>
        <BR/>

        <h3>11. initial/prepopulated value </h3>
        <autocomplete selectedobject="selectedItem11" initial-value="re" dataSource="colors" searchFields="['color']" titlefield="color" placeholder="Search colors"></autocomplete>
        <div class="result">
            <div ng-show="selectedItem11" ng-style="{ 'background': selectedItem11.originalObject.value}">
                You selected <span class="bold">{{selectedItem11.originalObject.color}}</span>
            </div>

            <BR/>
            <BR/>
        <h3>TODO 12. </h3>
            demonstrate callbacks: input val change, got results, etc. cleared
            <BR/>
            <BR/>
        <h3>13. Flat array </h3>
        <autocomplete selectedobject="selectedItem13" dataSource="colors_flat" placeholder="Search colors" ></autocomplete>
        <div class="result">
            <div ng-show="selectedItem13" ng-style="{ 'background': selectedItem13.originalObject}">
                You selected <span class="bold">{{selectedItem13.originalObject}}</span>
            </div>
        </div>
        <BR/>
        <BR/>

        <h3>14: Remote call </h3>
        <autocomplete selectedobject="selectedItem14" dataSource="example14_getData" additional-params="[{somevalue: 'yeah'}]" minlength="2" pause="500" titlefield="Result" placeholder="Search colors"></autocomplete>
        <div class="result">
            <div ng-show="selectedItem14">
                You selected <span class="bold">{{selectedItem14.originalObject.Result}}</span>
            </div>
        </div>
        <BR/>

    </div>
</div>
</div>


        </section>

        <aside id="sidebar">
          <a href="https://github.com/ArtturiSipila/AngularMultiComplete/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/ArtturiSipila/AngularMultiComplete/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p class="repo-owner"><a href="https://github.com/ArtturiSipila/AngularMultiComplete"></a> is maintained by <a href="https://github.com/ArtturiSipila">ArtturiSipila</a>.</p>

          
        </aside>
      </div>
    </div>

      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-touch.min.js"></script>
      <script src="javascripts/main.js"></script>  
  </body>
</html>
