.autocomplete-container {
    /*display: inline-block;*/
    position: relative;
    max-width: 400px;
}

.result {
    max-width: 400px;
}

.autocomplete-input {
    margin-bottom: 0;
}

.autocomplete-browse {
    background-color: #369a47;
    border-color: #2f8940;
}

.autocomplete-browse:hover, .autocomplete-browse:focus {
    background-color: #2f8940;
}

.autocomplete-dropdown {
    overflow-y: auto;
    max-height: 200px;
    background-color: #ffffff;
    border: 1px solid rgb(189, 181, 181);
    border-top: none;
    border-radius: 2px;
    color: #414141;
}

.autocomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.autocomplete-description {
    font-size: 14px;
}

.autocomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;

}

.selected-row, .autocomplete-row:hover {
    background-color: lightblue;
    color: #ffffff;
}

.autocomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.autocomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.autocomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}

.highlight {
    /*color: #ff0000;*/
    font-weight: bold;
}

@font-face {
    font-family: ProximaNova;
    font-weight: normal;
    src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
}

.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

body > header .pagetitle {
    font-family: "ProximaNova", sans-serif;
    color: #307d3e;
}

h3 {
    font-family: "ProximaNova", sans-serif;
}

.selectionPill {
    border: 1px solid #333;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    display: inline-block;
    min-width: 100px;
}
.pillOverlay {
    display: block;
    background: rgba(255,255,255, 0.3); /* lighten the color */
}