<!--
<div class="angucomplete-holder">
    <input id="{{id}}_value" ng-model="queryString" type="text" placeholder="{{placeholder}}" class="{{inputClass}}"
           onmouseup="this.select();" ng-focus="resetHideResults()" ng-blur="hideResults()"/>

    <div id="{{id}}_dropdown" class="angucomplete-dropdown" ng-if="showDropdown">
        <div class="angucomplete-searching" ng-show="searching">Searching...</div>
        <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)">No results found
        </div>
        <div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)"
             ng-mouseover="hoverRow()" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
            <div ng-if="imageField" class="angucomplete-image-holder"><img ng-if="result.image && result.image != ''"
                                                                           ng-src="{{result.image}}"
                                                                           class="angucomplete-image"/>

                <div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
            </div>
            <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
            <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
            <div ng-if="result.description && result.description != ''" class="angucomplete-description">
                {{result.description}}
            </div>
        </div>
    </div>
</div>

-->

<div class="row collapse {{mynamespace}}-container" style="max-width: 400px;">
    <label>Type to search</label>
    <div class="small-9 columns">
        <input style="margin-bottom: 0" ng-model="queryString" type="text" placeholder="{{placeholder}}" class="{{inputClass}} {{mynamespace}}-input" onmouseup="this.select();" ng-focus="resetHideResults()" ng-blur="hideResults()"/>

        <div class="{{mynamespace}}-dropdown" ng-if="showDropdown" >
            <div class="{{mynamespace}}-searching" ng-show="searching">Searching...</div>
            <div class="{{mynamespace}}-searching" ng-show="!searching && (!results || results.length == 0)">No results found
            </div>
            <div class="{{mynamespace}}-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseover="hoverRow()" ng-class="{'selected-row': $index == currentIndex}">
                <div ng-if="imageField" class="angucomplete-image-holder">
                    <img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="{{mynamespace}}-image"/>
                    <div ng-if="!result.image && result.image != ''" class="{{mynamespace}}e-image-default"></div>
                </div>
                <div class="{{mynamespace}}-title" ng-if="matchClass" ng-bind-html="result.title"></div>
                <div class="{{mynamespace}}-title" ng-if="!matchClass">{{ result.title }}</div>
                <div ng-if="result.description && result.description != ''" class="{{mynamespace}}-description">
                    {{result.description}}
                </div>
            </div>
        </div>

    </div>
    <div class="small-3 columns">
        <button ng-click="browse()" class="angucomplete-browse postfix">Browse</button>
    </div>

</div>
</div>

<!--
<div class="{{mynamespace}}-container">
    <input ng-model="queryString" type="text" placeholder="{{placeholder}}" class="{{inputClass}} {{mynamespace}}-input" onmouseup="this.select();" ng-focus="resetHideResults()" ng-blur="hideResults()"/>
    <button ng-click="browse()" class="angucomplete-browse">Browse</button>
    <div class="{{mynamespace}}-dropdown" ng-if="showDropdown" >
        <div class="{{mynamespace}}-searching" ng-show="searching">Searching...</div>
        <div class="{{mynamespace}}-searching" ng-show="!searching && (!results || results.length == 0)">No results found
        </div>
        <div class="{{mynamespace}}-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseover="hoverRow()" ng-class="{'selected-row': $index == currentIndex}">
            <div ng-if="imageField" class="angucomplete-image-holder">
                <img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="{{mynamespace}}-image"/>
                <div ng-if="!result.image && result.image != ''" class="{{mynamespace}}e-image-default"></div>
            </div>
            <div class="{{mynamespace}}-title" ng-if="matchClass" ng-bind-html="result.title"></div>
            <div class="{{mynamespace}}-title" ng-if="!matchClass">{{ result.title }}</div>
            <div ng-if="result.description && result.description != ''" class="{{mynamespace}}-description">
                {{result.description}}
            </div>
        </div>
    </div>
</div>
-->